<p id="notice"><%= notice %></p>

<h1>History</h1>

<table>
  <thead>
    <tr>
      <th>Date played</th>
      <th>Opponent</th>
      <th>Score</th>
      <th>Result</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @logged_games.each do |logged_game| %>
      <tr>
        <td><%= logged_game.date_played.strftime("%b-%d") %></td>
        <td><%= User.find(logged_game.opponent_id).name %></td>
        <td><%= logged_game.user_score.to_s + "-" + logged_game.opponent_score.to_s %></td>
        <td><%= logged_game.status %></td>
        <td><%= link_to 'Show', logged_game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Logged game', new_logged_game_path %>
